body {
    background-color: #EEF9BF;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 40px;

    background-color: lightblue;

}
header h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 110px; 
}

.cartas {
    width: 117px;
    height: 146px;
    background-color: lightcoral;
}