* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 0;
}
header h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 110px; 
}

.cartas {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 117px;
    height: 146px;
    
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.cartas img {
    height: 100px;
    width: 100px;
}   